<template>
  <div class="container">
      <add-client-modal 
        :providers="providers" 
        @add:provider="handleAddProvider" 
        @select:provider="selectProvider" 
        @delete:provider="handleDeleteProvider" 
        @add:client="handleAddClient" />
      <edit-client-modal 
        :providers="providers" 
        @add:provider="handleAddProvider" 
        @select:provider="selectProvider" 
        @delete:provider="handleDeleteProvider"
        :activeClient="activeClient" 
        @edit:client="handleEditClient" />
      <edit-provider-modal 
        :providers="providers" 
        @edit:provider="handleEditProvider" 
        :activeProvider="activeProvider" />

      <vue-good-table
        :columns="columns"
        :rows="rows"
      >
      <div class="text-center" slot="emptystate">
        <span >No clients data available</span>
      </div>

      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field === 'actions'">
          <span @click="selectClient(props.index)"  v-b-modal.client-information-edit class="mr-2 text-primary action-text">Edit</span>
          <span @click="handleDeleteClient(props.row)" class="text-danger action-text">Delete</span>
        </span>
        <span v-else-if="props.column.field === 'providers'">
          <span>{{ 
            props.formattedRow[props.column.field].reduce((acc, providerId) => {
                if(providerObject[providerId]) {
                  acc.push(providerObject[providerId].name)
                }
                return acc
              }, [])
            .join(", ")
          }}</span>
        </span>
        <span v-else>
          {{props.formattedRow[props.column.field]}}
        </span>
      </template>

      <div slot="table-actions">
        <b-button v-b-modal.client-information-add size="sm">New Client</b-button>
      </div>
      </vue-good-table>
    </div>
</template>

<script>
import AddClientModal from './components/AddClientModal.vue';
import EditClientModal from "./components/EditClientModal.vue"
import EditProviderModal from './components/EditProviderModal.vue';

import { handleError } from './utils'
import { getProviders } from './services/providers'
import { getClients, deleteClient } from './services/clients'

export default {
  name: "App",
  components: {
    EditClientModal,
    AddClientModal,
    EditProviderModal,
  },
  mounted() {
    this.load()
  },
  data() {
    return {
      providers: [],
      activeClientIndex: -1,
      activeProviderIndex: -1,
      columns: [
        {
          label: 'Name',
          field: 'name',
        },
        {
          label: 'Email',
          field: 'email',
        },
        {
          label: 'Phone',
          field: 'phone',
        },
        {
          label: 'Providers',
          field: 'providers',
        },
        {
          label: '',
          field: 'actions',
        },
      ],
      rows: []
    }
  },
  computed: {
    activeProvider() {
      if(this.activeProviderIndex < 0) {
        return null
      }
      return this.providers[this.activeProviderIndex]
    },
    activeClient() {
      if(this.activeClientIndex < 0) {
        return null
      }
      return this.rows[this.activeClientIndex]
    },
    providerObject() {
      return this.providers.reduce((provObj, prov) => {
        provObj[prov._id] = prov
        return provObj
      }, {})
    }
  },
  methods: {
    async load() {
      try {
        const [providerResponse, clientResponse] = await Promise.all([getProviders(), getClients()]) 
        this.providers = providerResponse.data?.data || []
        this.rows = clientResponse.data?.data || []
      } catch(error) {
        const message = handleError(error)
        this.$bvToast.toast(message, {
            title: 'Error',
            variant: 'danger',
            solid: true
        })
      }
    },
    handleAddProvider(provider) {
      this.providers.push(provider)
    },
    handleDeleteProvider(provider) {
      this.providers = this.providers.filter((prv) => prv._id !== provider._id)
    },
    selectProvider(providerIndex) {
      this.activeProviderIndex = providerIndex
    },
    handleEditProvider(provider) {
      this.providers = this.providers.map((prv) => {
        if (prv._id === provider._id) {
          return provider
        }
        return prv
      })
    },
    handleAddClient(client) {
      this.rows.push(client)
    },
    async handleDeleteClient(client) {
      try {
        await deleteClient(client._id)
        this.rows = this.rows.filter((cli) => cli._id !== client._id)
      } catch (error) {
        const message = handleError(error)
        this.$bvToast.toast(message, {
            title: 'Error',
            variant: 'danger',
            solid: true
        })
      }
    },
    selectClient(clientIndex) {
      this.activeClientIndex = clientIndex
    },
    handleEditClient(client) {
      this.rows = this.rows.map((cli) => {
        if(cli._id === client._id) {
          return client
        }
        return cli
      })
    }
  }
};
</script>

<style>
    .container {
      margin-top: 2rem;
    }

    .container .vgt-table {
      font-size: 13px;
    }

    .providers-container {
      border: 1px solid #ddd;
    }

    .footer-container {
      display: flex;
      justify-content: space-between;
    }

    .action-text {
      text-decoration: underline;
      cursor: pointer;
    }
</style>
