<template>
    <b-modal id="provider-information-edit" title="Edit Provider" size="lg">
        <b-container>
          <b-form>
            <b-form-row class="mb-3">
              <b-col sm="2">
                <label>Name: </label>
              </b-col>
              <b-col sm="10">
                <b-form-input
                  id="input-2"
                  v-model="form.name"
                  placeholder="Enter name"
                  required
                ></b-form-input>
              </b-col>
            </b-form-row>
          </b-form>
        </b-container>
        <template #modal-footer>
          <div class="w-100 d-flex justify-content-end">
                <b-button @click="close" class="mr-2">Cancel</b-button>
                <b-button @click="handleEditProvider">Save Provider</b-button>
          </div>
        </template>
      </b-modal>
</template>

<script>
import { handleError } from '../utils'
import { editProvider } from '../services/providers';

export default {
  name: "EditProviderModal",
  props: [ 'activeProvider'],
  data() {
    return {
      form: {
        name: ""
      }
    }
  },
  mounted() {
      // eslint-disable-next-line no-unused-vars
    this.$watch('activeProvider', function(newActiveProvider, _oldActiveProvider) {
        if (newActiveProvider) {
            this.form.name = newActiveProvider.name || ""
        }
    })
  },
  methods: {
    async handleEditProvider() {
        const { _id: id }  =  this.activeProvider
        const { name } = this.form
        if (!id) {
            return
        }
        if (name === '') {
            this.$bvToast.toast('Name shouldn\'t be empty', {
                title: 'Error',
                variant: 'danger',
                solid: true
            })
            return
        }

        try {
            const payload = {
                name               
            }
            const { data: { data: provider } } = await editProvider(id, payload)
            this.close()
            this.$emit('edit:provider', provider)
        } catch (error) {
            const message = handleError(error)
            this.$bvToast.toast(message, {
                title: 'Error',
                variant: 'danger',
                solid: true
            })
        }
    },
    close() {
        this.$bvModal.hide("provider-information-edit")
    }
  }
};
</script>

<style>
</style>
