<template>
    <b-modal id='client-information-edit' title='Edit Client' size='lg'>
        <b-container>
          <b-form>
            <b-form-row class='mb-3'>
              <b-col sm='2'>
                <label>Name: </label>
              </b-col>
              <b-col sm='10'>
                <b-form-input
                  v-model='EditClientform.name'
                  placeholder='Enter name'
                  required
                ></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row class='mb-3'>
              <b-col sm='2'>
                <label>Email: </label>
              </b-col>
              <b-col sm='10'>
                <b-form-input
                  v-model='EditClientform.email'
                  placeholder='Enter email'
                  type='email'
                  required
                ></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row class='mb-3'>
              <b-col sm='2'>
                <label>Phone: </label>
              </b-col>
              <b-col sm='10'>
                <b-form-input
                  v-model='EditClientform.phone'
                  placeholder='Enter phone'
                  required
                ></b-form-input>
              </b-col>
            </b-form-row>
            <b-form-row class='mb-3'>
              <b-col sm='2'>
                <label>Providers: </label>
              </b-col>
              <b-col sm='7'>
                <b-form-input
                  v-model='AddProviderform.name'
                  placeholder='Enter provider name'
                  required
                ></b-form-input>
              </b-col>
              <b-col sm='3'>
                <b-button @click='handleAddProvider'>Add Provider</b-button>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col offset-sm='2' sm='6' class='py-2 pl-2 providers-container'>
                <b-row v-for="(provider, index) in providers" :key="provider._id">
                    <b-col sm="8">
                        <b-form-checkbox
                            :value='provider._id'
                            v-model='EditClientform.providers'
                        >{{ provider.name }}</b-form-checkbox>
                    </b-col>
                    <b-col>
                        <b-icon-pencil-square @click="selectProvider(index)" v-b-modal.provider-information-edit class='mr-4'></b-icon-pencil-square>
                        <b-icon-trash-fill @click="deleteProvider(provider)"></b-icon-trash-fill>
                    </b-col>
                </b-row>
              </b-col>
            </b-form-row>
          </b-form>
        </b-container>
        <template #modal-footer>
          <div class='w-100 d-flex justify-content-end'>
                <b-button class='mr-2' @click="close">Cancel</b-button>
                <b-button @click="handleEditClient">Save Client</b-button>
          </div>
        </template>
      </b-modal>
</template>

<script>
import { editClient } from '../services/clients';
import { handleError, isValidEmail } from '../utils'
import { createProvider, deleteProvider } from './../services/providers'

export default {
    name: 'EditClientModal',
    props: ['providers', 'activeClient'],
    data() {
        return {
            EditClientform: {
                name: '',
                email: '',
                phone: '',
                providers: []
            },
            AddProviderform: {
                name: ''
            }
        }
    },
    mounted() {
      // eslint-disable-next-line no-unused-vars
    this.$watch('activeClient', function(newActiveClient, _oldActiveClient) {
        if (newActiveClient) {
          this.EditClientform.name = newActiveClient.name || ""
          this.EditClientform.email = newActiveClient.email || ""
          this.EditClientform.phone = newActiveClient.phone || ""
          this.EditClientform.providers = newActiveClient.providers || []
        }
    })
    },
    methods: {
        async handleEditClient() {
            const { _id: id } =  this.activeClient
            const { name, email, phone, providers } = this.EditClientform
            try {
                if (!name) {
                    this.$bvToast.toast('Name shouldn\'t be empty', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                    return
                }
                if (!email || !isValidEmail(email)) {
                    this.$bvToast.toast('Invalid email', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                    return
                }
                if (!phone) {
                    this.$bvToast.toast('Phone shouldn\'t be empty', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                    return
                }
                if (providers.length <= 0) {
                    this.$bvToast.toast('Select atleast a single provider', {
                        title: 'Error',
                        variant: 'danger',
                        solid: true
                    })
                    return
                }

                const payload = {
                  name,
                    email,
                    phone,
                    providers
                }
                const { data: { data: client } } = await editClient(id, payload)
                this.$emit('edit:client', client)
                this.close()

                this.EditClientform = {
                    name: '',
                    email: '',
                    phone: '',
                    providers: []
                }
            } catch (error) {
                const message = handleError(error)
                this.$bvToast.toast(message, {
                    title: 'Error',
                    variant: 'danger',
                    solid: true
                })
            }
        },
        async handleAddProvider() {
            const { name } = this.AddProviderform
            if (name === '') {
                this.$bvToast.toast('Name shouldn\'t be empty', {
                    title: 'Error',
                    variant: 'danger',
                    solid: true
                })
                return
            }

            try {
                const payload = {
                    name               
                }

                const { data: { data: provider } } = await createProvider(payload)
                this.$emit('add:provider', provider)
                
                this.AddProviderform.name = ''
            } catch (error) {
                const message = handleError(error)
                this.$bvToast.toast(message, {
                    title: 'Error',
                    variant: 'danger',
                    solid: true
                })
            }
        },
        async deleteProvider(provider) {
            try {
                await deleteProvider(provider._id)
                this.$emit('delete:provider', provider)
            } catch (error) {
                const message = handleError(error)
                this.$bvToast.toast(message, {
                    title: 'Error',
                    variant: 'danger',
                    solid: true
                })
            }

        },
        selectProvider(index) {
            this.$emit('select:provider', index)
        },
        close() {
            this.$bvModal.hide('client-information-edit')
        }
    }
};
</script>